email agent.json
{
  "name": "email agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        576
      ],
      "id": "d3eb0405-110f-49ae-a53e-5add5c6e641a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WKD9olDH0EIKUgw8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        96,
        688
      ],
      "id": "6fef5625-5efa-4cb8-9dc1-ebf88e3c9a29",
      "name": "Send Email",
      "webhookId": "68749d6b-4c09-4e0c-90cb-22b9945f52d0",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkPEBgOHB5WWkU14",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $fromAI(\"ID\",\"the message ID\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        336,
        736
      ],
      "id": "a813439f-c17b-4799-8ce8-a0ce10772219",
      "name": "Email Reply",
      "webhookId": "7319c62e-7b3d-4ce3-805d-da784f871583",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkPEBgOHB5WWkU14",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"ID\",\"the ID of the message\") }}",
        "labelIds": "={{ $fromAI(\"labelID\") }} "
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        208,
        720
      ],
      "id": "f3210ad7-ec95-4b77-8429-5680c80e68cd",
      "name": "Label Emails",
      "webhookId": "eebb8a55-3179-4b45-8774-502d96d5c420",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkPEBgOHB5WWkU14",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI(\"limit\",\"how many emails the user wants\") }}",
        "simple": false,
        "filters": {
          "sender": "={{ $fromAI(\"sender\",\"who the emails are from\") }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        592,
        752
      ],
      "id": "9961a3d7-76a0-406f-ba18-0b1d9885fcf1",
      "name": "Get emails",
      "webhookId": "f94d5ca7-f7e4-4d13-8176-91f1b526ccce",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkPEBgOHB5WWkU14",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        464,
        752
      ],
      "id": "4a333529-8469-44d9-9c2c-e0300cec8f61",
      "name": "Create Drafts",
      "webhookId": "07e4ec73-7b60-4e4b-92a2-3fc96acad51d",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkPEBgOHB5WWkU14",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        736,
        688
      ],
      "id": "2ef32aea-f427-4cfc-ae70-5063680bbf74",
      "name": "Get Labels",
      "webhookId": "79a597f9-1311-4d95-8233-f61647ee3d4a",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkPEBgOHB5WWkU14",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ $fromAI(\"messageID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        848,
        624
      ],
      "id": "a4a4a4b8-a37c-40db-ba28-d929e0d0beb7",
      "name": "Mark Unread",
      "webhookId": "a13dcdb2-9e69-47be-8c2b-72d26d13c4c1",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkPEBgOHB5WWkU14",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aab254f6-d2b2-4731-b450-5e99e2447d9d",
              "name": "response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        240
      ],
      "id": "10a9311d-ff27-4c53-af1a-9024507233a4",
      "name": "Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01488971-bb14-4be6-a780-3621406a3148",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        400
      ],
      "id": "167e066b-4549-461b-b61b-f3d71535487e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an email management assistant. All emails must be formatted professionally in HTML and signed off as \"Raghav.\" \n\n**Email Management Tools**   \n   - Use \"Send Email\" to send emails.  \n   - Use \"Create Draft\" if the user asks for a draft.  \n   - Use \"Get Emails\" to retrieve emails when requested.\n   - Use \"Get Labels\" to retrieve labels.\n   - Use \"Mark Unread\" to mark an email as unread. You must use \"Get Emails\" first so you have the message ID of the email to flag.\n   - Use \"Label Email\" to flag an email. You must use \"Get Emails\" first so you have the message ID of the email to flag. Then you must use \"Get Labels\" so you have the label ID.\n   - Use \"Email Reply\" to reply to an email. You must use \"Get Emails\" first so you have the message ID of the email to reply to.\n\n## Final Notes\n- Here is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        480,
        352
      ],
      "id": "fd219f5f-1ad7-4103-b566-524083384dce",
      "name": "Email Agent",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Subject: Departure Time Inquiry\n\nDear Raghav Nargotra,\n\nI hope this message finds you well. I wanted to check with you regarding what time you would like to leave. Please let me know your preferred time.\n\nThank you!\n\nBest regards,"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Label Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Drafts": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unread": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e19a11a2-cd7d-4cc5-82e9-e636d9eed667",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50838b8f02bfcf1118f6c654fadae981902f3ddbab30abe0904e5dc2a97231b2"
  },
  "id": "zKMLl1hU9mCVdKUP",
  "tags": []
}